:root{
    --yellow:#F7C548;
    --lightgray: #818181;
    --darkgray: #313131;
    --lightblue: #427be4;
}

html, body {
    overflow-x: hidden;
}

* { 
    /* border: red solid 1px; */
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: var(--lightblue);
}

a:hover{
    filter: brightness(75%);
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    color: var(--darkgray);
}

.logo{
    margin-top: 50px;
    margin-bottom: 60px;
    display:flex;
    justify-content: center;
    align-content: center;
}

.box h1{
    margin: 0;
    margin-bottom: 20px;
}

.box{
    border: 1px solid var(--lightgray);
    padding: 0 40px;
    padding: 40px;
}

input{
    width: 100%;
    margin-bottom: 20px;
}

[type="button"]{
    border: 1px solid var(--darkgray);
    padding: 5px 0;
}

[type="button"]:hover{
    filter: brightness(1.05)
}


.password{
    display: flex;
    justify-content: space-between;
}

.yellow{
    background-color: var(--yellow);
    border: 1 px solid black;
    margin-bottom: 0;
}

.new {
    padding: 0 40px;
    margin-bottom: 60px;
    text-align: center;
}

button{
    width: 100%;
    padding: 5px 0;
}

.over{
    color: var(--lightgray);
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.over:before,
.over:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--lightgray);
    margin: auto;
}

footer{
    border-top: 1px solid var(--lightgray);
    padding-top: 40px;
    text-align: center;
    color: var(--darkgray);
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 20px 9999rem;
}

.links{
    display: flex;
    margin: auto;
    justify-content: space-around;
}